.buttons {
  margin-left: 25px; }

.modal {
  padding: 0px; }

#calcard {
  background-color: whitesmoke;
  height: 124px;
  padding: 10px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  margin-bottom: 15px; }

#pad {
  padding-top: 0; }
