.searchmodal {
  vertical-align: middle;
  width: 50%;
  margin-top: 200px; }

.searchbody {
  height: 179px; }

.searchbar input[type=text] {
  text-align: left;
  font-size: 20px;
  margin-bottom: 10px;
  color: grey; }

.startdate {
  width: 33.3333%; }

.enddate {
  width: 33.3333%; }
