.searchbar {
  margin-top: 300px;
  width: 700px; }

.searchbar input[type=text] {
  text-align: center;
  font-size: 40px;
  margin-bottom: 10px;
  color: white; }

.startdate {
  width: 33.3333%; }

.enddate {
  width: 33.3333%; }
