#email, #password {
  margin-top: 5px;
  border: none; }

#email, #password {
  margin-top: 5px;
  border: none; }

#email:focus, #password:focus {
  border: none; }

.outerinput {
  background-color: white;
  border-radius: 3px;
  height: 50px;
  margin: 5px; }

#btn {
  border-radius: 3px;
  height: 40px;
  margin: 5px 0px;
  text-align: center;
  font-size: 1em;
  color: white;
  background-color: white;
  border: 1px solid white; }

label {
  display: none; }

.loginmodal {
  position: relative;
  top: 125px; }
