#email, #password {
  margin-top: 15px;
  border: none;
}

#email:focus, #password:focus {
  border: none;
}

.loginlogo {
  margin-top: 20px;
  width: 650px;
  position: relative;
  top: 400px;
}

.outerinput {
  background-color: rgba(255, 255, 255, .5);
  border-radius: 7px;
  padding: 5px;
  height: 100px;
  padding: 10px;
}

#btn {
  border-radius: 7px;
  padding: 5px;
  height: 100px;
  color: white;
  background-color: white;
  position: relative;
  border: solid 4px rgba(255, 255, 255, .3);
}

label {
  display: none;
}

.loginmodal {
  position: relative;
  top: 400px;
}