@import 'login';
@import 'navbar';
@import 'materializeoverwrite';
@import 'calendar';
@import 'location';

html {
  height: 100%;
  background-color: white;
  background-size: cover no-repeat center center fixed;
}

body {
  overflow: auto;
}

a {
  color: #A2A2A2;
  text-align: center;
}

a:hover{
  color: #C1C1C1;
}

.calendaricon:hover {
  color: grey;
  transform: scale(1.2)
}

.card-panel {
  max-width: 800px;
  min-width: 600px;
  margin: 0 auto;
}
