@import 'login';
@import 'navbar';
@import 'materializeoverwrite';
@import 'calendar';
@import 'location';
@import 'results';

html {
   z-index: -50;
  // background-color: #303030;
  vertical-align: middle;
  margin-top: 100px;
  border-radius: 7px;
  margin: 37px;
  width: 92%;
  height: 95%;
}

body {
  overflow: auto;
}

.header {
  position: fixed;
  z-index: 200;
  top: 0;
  width: 100%;
}

.logo {
  width: 700px;
  position: relative;
}


#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
  z-index: -100;
  opacity: .8;
  min-width: 100%;
  min-height: 100%;
}

.display {
  display: none;
}

input[type=email], input[type=password] {
  font-size: 2.5em;
  padding: 5px;
}

a {
  color: #FFFFFF;
  text-align: center;
  font-size: 2.5em
}

a:hover{
  color: #C1C1C1;
}

.calendaricon:hover {
  color: grey;
  transform: scale(1.2)
}
