@import 'login';
@import 'navbar';
@import 'materializeoverwrite';
@import 'calendar';
@import 'location';
@import 'header';
@import 'results';

html {
  z-index: -50; 
  border-radius: 7px;
  height: 100%;
}

.ngviewbody {
  height: 86%;
  margin: 4px 37px;
}

body {
  overflow: hidden;
  height: 100%;
}

i {
  opacity: .5;
}

.logo {
  width: 70%;
}

#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
  z-index: -100;
  opacity: .9;
  min-width: 100%;
}

#darkbg {
  color: grey;
  height: 100%;
  width: 100%;
}

.display {
  display: none;
}

a {
  color: black;
  text-align: center;
  font-size: 1em;
}


