
.singleresult {
  height: 100px;
}

.results {
  position: relative;
  top: 208px;
  height: 100%;
  overflow-y: scroll;
}

.title {
  font-size: 7em;
  text-align: center;
}

.result {
  border-top: 1px solid grey;
}

#card {
  margin: 0;
}

.button {
  text-align: center;
  margin-left: 297px;
  margin-top: 26px;
  font-size: 2.5em;
  color: #1D1D1D;
  border-radius: 7px;
  height: 100px;
  position: relative;
  border: solid 4px rgba(0, 0, 0, .3);
}

#abtn {
  padding-top: 30px;
}

.address {
  color: black;
  font-style: italic;
}

.headliner {
  font-weight: 400;
}