


<div class="viewbody row results">
  <div class="col s12">
    <div id="card" ng-swipe-left="openDeleteModal(event)" class="card z-depth-0 white"  ng-repeat="event in events | orderBy:'events.date'">
      <div id="calcard" class="card-content black-text">
        <span>
        <p class="headliner center">{{event.artists[0].Name}}</p>
        <p class="center">@ {{event.venue.Name}}</p>
        <p class="center">{{parsedDate[$index]}}</p>
        </span>
        <a class="btn-flat modal-close button waves-effect col s12 waves-light" ng-if="event.ticketurl !== ''" ng-href="{{event.ticketurl}}" target="_newtab" type="submit">Buy Tickets</a>
        <a class="btn-flat modal-close button disabled waves-effect col s12 waves-light" ng-if="event.ticketurl === ''" target="_newtab" type="submit">Tickets Not Available</a>
      </div>
      <div id="modal2" class="modal bottom-sheet custommodal z-depth-0">
        <div id="pad" class="modal-content col s12 ">
          <div class="center">
            <p>Remove from Calendar?</p>
            <div class="buttons">
                  <button class="btn-flat button modal-close waves-effect transparent col s5 waves-light" type="submit">Cancel</button>
                  <button class="btn-flat button modal-close waves-effect transparent col s5 offset-s1 waves-light" type="submit" ng-click="removeFromCalendar(deletethiseffingevent)">Confirm</button>         
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>