<div class="cal-panel z-depth-0">
  <simple-calendar events="events" options="calendarOptions"></simple-calendar>
<!-- <button class="btn-flat waves-effect waves-light " type="submit" name="action" ng-click="search(zipresult, startDate)"><i class="fa fa-angle-left" aria-hidden="true"></i> Back to Results</button> -->
</div>


<!-- <div class="col">
    <a class='btn' href='#demoModal' enable-tabs="true" modal>Show Modal</a>
</div>

<div id="demoModal" class="modal">
    <div class="modal-content">
  <div class="card-panel z-depth-0">
     <div>Details:</div>
      <ul class="collapsible z-depth-0" data-collapsible="accordion" >
        <li ng-repeat="result in results track by $index">
          <div class="collapsible-header">
            <i class="expand material-icons">view_headline</i>{{headliners[$index]}}<span class=center> @ {{venues[$index].Name}}</span><span class="right"><span class="right">{{dates[$index]}}<i ng-click="addToCalendar($index)" class="calendaricon fa fa-calendar-plus-o right" aria-hidden="true"></i></span>
          </div>
          <div class="collapsible-body">
            <h3 class="center">{{headliners[$index]}}</h3>
            <article class="center">{{openers[$index]}}</article>
            <address class="center"><p>{{venues[$index].Name}}<br>{{venues[$index].Address}}<br> {{venues[$index].City}}, {{venues[$index].StateCode}} {{venues[$index].ZipCode}}</p></address>
            <div class="center">
              <a ng-href="{{results.url}}" target="_newtab" class="waves-effect waves-light btn blue-grey z-depth-0">Buy Tickets</a>
              <a ng-click="addToCalendar($index)" class="waves-effect waves-light btn blue-grey z-depth-0">Add to Calendar</a>         
            </div>
          </div>
        </li>
      </ul>  
  </div>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>
 -->