<div class="row header white">
  <div class="container">
    <img class="logo center" src="./img/logo.png" alt="">  
  </div>
  <div class="container sortcont">
    <a  class='dropdown-button sortbutton waves-effect transparent col s12 left waves-light' href='javascript:void(0);' data-activates='dropdown' dropdown data-hover="true"><i class="fa fa-sort" aria-hidden="true"></i> Sort by:</a>
  </div>

<!-- Dropdown Structure -->
<ul id='dropdown' class='z-depth-0 col s12 dropdown-content'>
    <li><a id="sort" href="javascript:void(0);">Artist</a></li>
    <li><a id="sort" href="javascript:void(0);">Date</a></li>
    <li><a id="sort" href="javascript:void(0);">Venue</a></li>
</ul>
</div>