<div class="row">
  <div class="container">
      <div class="col s12 center">
        <img class="loginlogo" src="./img/logo_white.png" alt="">
      </div>    
  </div>
</div>  <div class="loginmodal container col s4 offset-s4 white`">
    <div class="loginbody">
      <div class="row">
        <form class="col s12">
          <div class="row outerinput">
            <div class="input col s12">
              <input id="email" type="email" class="input" ng-model="account.email" placeholder="Email">
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row outerinput">
            <div class="input col s12">
              <input id="password" type="password" class="input" ng-model="account.password" placeholder="Password">
              <label for="password">Password</label>
            </div>
          </div>
          <div class="row">
              <button  id="btn" class="btn-flat searchbutton waves-effect transparent col s12 waves-light" type="submit" ng-click="login()">LOGIN</button>
          </div>
        </form>
          <a class="col s12" ng-href="#/register">Need to Register?</a>
      </div>
    </div>
  </div>