<div class="loginmodal container col s4 offset-s4 white`">
  <div class="loginbody container">
    <div class="row">
      <div class="container">
        <img class="plzlogin col s12" src="./img/pleaselogin.png" alt="">
      </div>
    </div>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" class="validate" ng-model="account.email">
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="password" class="validate" ng-model="account.password">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="container">
          <a type="submit" ng-click="login()"><div><img class="submit col s12" src="./img/submit.png" alt=""></div></a>
        </div>
      </form>
        <a class="col s12" ng-href="#/register">Need to Register?</a>
    </div>
  </div>
</div>
  
