<div class=" loginmodal row">
      <div class="col s12 center">
        <img class="logo" src="./img/logo_white.png" alt="">
      </div>    
  <div class="input outerinput col s12">
    <input id="email" type="email" ng-model="account.email" placeholder="Email">
    <label for="email">Email</label>
  </div>
  <div class="input outerinput col s12">
    <input id="password" type="password" ng-model="account.password" placeholder="Password">
    <label for="password">Password</label>
  </div>
    <div id="btn" class="btn-flat searchbutton waves-effect center transparent col s12 waves-light" type="submit" ng-click="login()">LOGIN</div>
    <a id="btn" class="btn-flat searchbutton waves-effect transparent col s12 waves-light" type="submit" ng-href="#/register">Need to Register?</a>
</div>