<footer ng-show="!isDark" class="page-footer body grey">
  <div class="container">
    <div class="row center">
      <div class="col s4">
        <a ng-href="#/search">Search</a>
      </div>
      <div class="col s4">
        <a ng-href="#/calendar">Calendar</a>
      </div>
      <div class="col s4">
        <a ng-href="#/logout">Logout</a>
      </div>
    </div>
  </div>
</footer>

<!-- <footer ng-show="isDark" class="page-footer body white">
  <div class="container">
    <div class="row center">
      <div class="col s4">
        <a class="grey" ng-href="#/search">Search</a>
      </div>
      <div class="col s4">
        <a class="grey" ng-href="#/calendar">Calendar</a>
      </div>
      <div class="col s4">
        <a class="grey" ng-href="#/logout">Logout</a>
      </div>
    </div>
  </div>
</footer> -->