<footer ng-show="!isDark" class="page-footer body grey">
  <div class="container">
    <div class="row center">
      <div class="col s4">
        <a ng-href="#/search" class="fa fa-search navicon col s12" aria-hidden="true"></a>
      </div>
      <div class="col s4">
        <a ng-href="#/calendar" class="fa fa-calendar-o navicon col s12" aria-hidden="true"></a>
      </div>
      <div class="col s4">
        <a ng-href="#/logout" class="fa fa-sign-out navicon col s12" aria-hidden="true"></a>
      </div>
    </div>
  </div>
</footer>