
<div class="loginmodal container col s4 offset-s4">
  <div class="loginbody container">
    <div class="row">
      <div class="container">
        <img class="plzlogin col s12" src="./img/Registertext.png" alt="">
      </div>
    </div>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" class="validate" ng-model="account.email">
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="password" class="validate" ng-model="account.password">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="container">
          <img class="submit col s12" ng-click="register()" src="./img/register.png" alt="">
        </div>
      </form>
    </div>
  </div>
</div>
  
