<div class=" loginmodal row">
      <div class="col s12 center">
        <img class="logo" src="./img/logo_white.png" alt="">
      </div>    
  <div class="input outerinput col s12">
    <input id="email" type="email" ng-model="account.email" placeholder="Email">
    <label for="email">Email</label>
  </div>
  <div class="input outerinput col s12">
    <input id="password" type="password" ng-model="account.password" placeholder="Password">
    <label for="password">Password</label>
  </div>
    <div id="btn" class="btn-flat searchbutton waves-effect transparent col s12 waves-light" type="submit" ng-click="register()">REGISTER</div>
    <br>
    <a class="col s12 center" ng-href="#/login"><i class="fa fa-chevron-left" aria-hidden="true"></i> BACK</a>
</div>