
        <div class="col s12 m6">
          <div class="card transparent z-depth-0 darken-2">
            <div class="card-content searchbody white-text">
                <div class="searchbar">
                    <input class="searchtext" id="zipsearch" type="text" ng-model="zipresult" placeholder="Zipcode">
                    <div class="datesearch">
                        <input input-date
                            type="text"
                            name="created"
                            class="col s3"
                            ng-model="startDate"
                            container="body"
                            format="yyyy-mm-dd"
                            months-full="{{ month }}"
                            months-short="{{ monthShort }}"
                            weekdays-full="{{ weekdaysFull }}"
                            weekdays-short="{{ weekdaysShort }}"
                            weekdays-letter="{{ weekdaysLetter }}"
                            disable="disable"
                            min="{{ minDate }}"
                            max="{{ maxDate }}"
                            today="today"
                            clear="clear"
                            close="close"
                            select-years="15"
                            on-start="onStart()"
                            on-render="onRender()"
                            on-open="onOpen()"
                            on-close="onClose()"
                            on-set="onSet()"
                            on-stop="onStop()"
                            placeholder="Start Date">
                    </div>
                <div class="row">
                    <button id="searchbtn" class="btn-flat searchbutton waves-effect col s12 waves-light " type="submit" name="action" ng-click="search(zipresult, startDate)">Find Concerts</button>
                </div>
            </div>
        </div>
      </div>
    </div>